<section>
  <TorontoTransitHubWeb.Live.Components.TransitServiceDisplay.render
    service_name="TTC"
    alerts={@ttc_alerts}
    service_colour="#da251d"
    last_updated={@last_updated}
  />
</section>
