<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "TorontoTransitHub") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-slate-50 text-slate-700">
    <div class="lg:max-w-4xl md:max-w-2xl mx-auto">
      <header class="py-4">
        <h1 class="mx-auto text-4xl font-semibold text-center">
          Toronto Transit Hub
        </h1>
      </header>
      <main class="my-2">
          <%= @inner_content %>
      </main>
    </div>
    <footer class="text-center mt-4"><p>&copy; 2022 Mike Bowman &mdash; <a class="underline" href="https://mikebowman.dev">https://mikebowman.dev</a></p></footer>
  </body>
</html>
